* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #363957;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

.p-instructions {
    line-height: 1.4;
}


/* TOP BAR */

nav{
    width: 100%;
    background: linear-gradient(90deg, #6D2DA6, #9C69CC);
    border-bottom: 15px solid #EDBA60;
}

.top-bar {
    
    display: grid;
    width: 80%;
    margin: auto;
    align-items: center;
    grid-template-columns: 200px 100px auto;
    height: 100px;
}

.logo{
    display: grid;
    height: 60px;
}
 

/* GRADE CALCULATOR INSTRUCTIONS*/

section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 80%;
    margin: auto;
    grid-gap: 40px;
    
    margin-bottom: 20px;
}

.grade-calculator, h1, h3{
    margin-top: 30px;
    margin-bottom: 20px;
}

.vector-illustration{
    display: grid;
    align-items: center;
    justify-items: center;
}

/* FORM */

.p-form{
    cursor: pointer;
    text-decoration: underline;
}

.p-form:hover{
    color: blue;
}

input{
    height: 20px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.full {
    grid-column-end: span 2;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40% ;
    
    border-radius: 5px;
    background-color: #EDBA60;
    padding: 20px;
  }
  
  .grid-container p{
      margin-top: 10px;
      margin-bottom: 10px;

  }
  button {
      
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #6D2DA6; /* purple */
    border: 1px solid #9C69CC;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
       
      }
      
      button:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
      
      button:hover {
        background-color: #9C69CC;
      }
  

  a:link {
    color: #363957;
  }


  .final-grades{
      text-align: center;
  }

  /* FINAL GRADES */

  .p-final-grades{
      margin-bottom: 10px;
  }

  #average, #result {
    font-size: 30px;
    font-weight: 700;
    color: #6D2DA6;
  }
